body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #b30b2d;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #b30b2d;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#stupa-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 80px;
  background-color: #c1363d;
}
#stupa-header .navbar {
  min-height: 42px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#stupa-header .navbar-brand {
  float: left;
  display: block;
  height: 42px;
  padding: 0 15px 0 0;
  font-family: "Ubuntu Condensed", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 40px;
  color: #c1363d;
}
#stupa-header #navbar li a {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  font-family: "Ubuntu Condensed", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}
#stupa-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#stupa-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
}
#stupa-header #navbar li a:hover {
  color: #fff;
}
#stupa-header #navbar li.active a {
  background: transparent;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #stupa-header {
    margin-top: 0;
    background: #fff;
    /*background: rgba(193,54,61,0.95);*/
  }
  #stupa-header .navbar-brand {
    color: #b30b2d !important;
    font-size: 20px !important;
  }
  #stupa-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    transition: 0.3s;
  }
  #stupa-header #navbar li a:hover {
    color: #b30b2d !important;
  }
  #stupa-header #navbar li a span:before {
    background: transparent !important;
  }
  #stupa-header #navbar li.active a {
    background: transparent;
    color: #b30b2d !important;
  }
  #stupa-header #navbar li.active a span:before {
    visibility: visible;
  }
}

#stupa-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#stupa-header.navbar-fixed-top .navbar-brand {
  color: #b30b2d;
}
#stupa-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
#stupa-header.navbar-fixed-top #navbar li a:hover {
  color: #b30b2d;
}
#stupa-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  color: #b30b2d;
}
#stupa-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #b30b2d;
}

#stupa-header .navbar-default {
  border: transparent;
  background: transparent;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #stupa-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#stupa-home {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
#stupa-home .logo {
  position: relative;
  display: block;
  height: 122px;
  padding: 8px 140px 0 140px;
  background-position: top left;
  background-color: white;
  background-size: auto;
  background-attachment: scroll;
  background-repeat: repeat-x;
}
#stupa-home .logo .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #d0021b;
  z-index: 2;
}
#stupa-home .logo .karma {
  height: 67px;
  position: relative;
  float: left;
  z-index: 3;
}
#stupa-home .logo .kagyu {
  position: relative;
  background-color: white;
  float: right;
  z-index: 4;
}
#stupa-home .slider {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#stupa-home, #stupa-home .text-wrap {
  height: 780px;
}
@media screen and (max-width: 768px) {
  #stupa-home .logo {
    display: none;
  }
}

#stupa-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#stupa-home .text-inner {
  display: table-cell;
  vertical-align: top;
  text-align: right;
  padding-top: 100px;
}
#stupa-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#stupa-home .text-inner a:hover, #stupa-home .text-inner a:active, #stupa-home .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}
#stupa-home .text-inner .quote {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: white;
  margin: 0 0 20px 0;
}
#stupa-home .text-inner .author {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#stupa-about, #stupa-contact {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  #stupa-about, #stupa-contact {
    padding: 2em 0;
  }
}

#stupa-work {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #stupa-work {
    padding: 4em 0;
  }
}

#stupa-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #52d3aa;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
}
#stupa-work a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#stupa-work a:hover {
  color: white;
}
#stupa-work:before, #stupa-work:after {
  position: absolute;
  transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}
#stupa-work:before {
  top: 0;
  margin-top: -35px;
}
#stupa-work:after {
  bottom: 0;
  margin-bottom: -35px;
}
#stupa-work .section-heading h2 {
  color: #fff;
}
#stupa-work .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#stupa-work .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#stupa-work .stupa-project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  border-radius: 7px;
  transition: 0.3s;
}
#stupa-work .stupa-project-item img {
  z-index: 8;
  opacity: 1;
  transition: 0.3s;
}
#stupa-work .stupa-project-item .stupa-text {
  padding: 10px 20px;
}
#stupa-work .stupa-project-item .stupa-text h2, #stupa-work .stupa-project-item .stupa-text span {
  text-decoration: none !important;
}
#stupa-work .stupa-project-item .stupa-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
#stupa-work .stupa-project-item .stupa-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
#stupa-work .stupa-project-item:hover, #stupa-work .stupa-project-item:focus {
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}
#stupa-work .stupa-project-item:hover img, #stupa-work .stupa-project-item:focus img {
  opacity: .7;
}
#stupa-work .stupa-project-item:hover h2, #stupa-work .stupa-project-item:hover span, #stupa-work .stupa-project-item:focus h2, #stupa-work .stupa-project-item:focus span {
  text-decoration: none !important;
}

.stupa-person {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px;
}
.stupa-person figure {
  display: block;
}
.stupa-person figure img {
  width: 120px;
  margin: 20px 0 40px 0;
}
.stupa-person h3 {
  font-family: "PT Sans", Helvetica, sans-serif;
  margin-bottom: 20px;
}
.stupa-person p {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .stupa-person p {
    font-size: 15px;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #b30b2d;
}

.btn {
  transition: 0.5s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

#stupa-contact {
  padding-bottom: 0;
}
#stupa-contact .stupa-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#stupa-contact .stupa-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}
#stupa-contact .stupa-contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  clear: both;
}
.section-heading h2 {
  font-size: 40px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 0 30px 0;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #b30b2d;
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #b30b2d;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 25px;
  }
}

.section-heading h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 20px;
  }
}

.stupa-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.stupa-nav-toggle.active i::before, .stupa-nav-toggle.active i::after {
  background: #b30b2d;
}
.stupa-nav-toggle:hover, .stupa-nav-toggle:focus, .stupa-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.stupa-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 20px;
  height: 2px;
  color: #b30b2d;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #b30b2d;
  transition: all .2s ease-out;
}
.stupa-nav-toggle i::before, .stupa-nav-toggle i::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #b30b2d;
  position: absolute;
  left: 0;
  transition: 0.2s;
}
.stupa-nav-toggle i::before {
  top: -7px;
}
.stupa-nav-toggle i::after {
  bottom: -7px;
}
.stupa-nav-toggle:hover i::before {
  top: -7px;
}
.stupa-nav-toggle:hover i::after {
  bottom: -7px;
}
.stupa-nav-toggle.active i {
  background: transparent;
}
.stupa-nav-toggle.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}
.stupa-nav-toggle.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}
.stupa-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 2px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 25px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .stupa-nav-toggle {
    display: block;
  }
}

#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}
#footer .gotop {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  z-index: 8;
  width: 80px;
  height: 80px;
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.2s;
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -20px;
  text-decoration: none !important;
}
#footer .copyright {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #b30b2d;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #b30b2d;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #b30b2d;
  color: #fff;
}
.social li a.social-circle {
  background: #52d3aa;
  color: #fff;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #52d3aa;
  color: #fff;
}
.social.social-circle a {
  background: #52d3aa;
  color: #fff;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.btn {
  transition: 0.3s;
}

.to-animate,
.to-animate-2,
.single-animate {
  opacity: 0;
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.stupa-animated {
  animation-duration: .3s;
  animation-fill-mode: both;
}
