	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up"></i></a>
		<div class="container">
			<div class="copyright">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://twitter.com/diamondway"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/groups/298954620115880/"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCLTuhLQeJkVvULFkZfmvNyQ"><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
