	<section id="stupa-home">
		<div class="logo">
			<div class="bg"></div>
			<img class="karma" src="images/logo.png" />
			<img class="kagyu" src="images/logo.svg" />
		</div>
		<div class="slider" data-section="home" style="background-image: url(images/slider.png);" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="text-wrap">
					<div class="text-inner">
						<div class="row">
							<div class="col-md-4 col-md-offset-8">
								<div class="to-animate quote">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
								<div class="to-animate author">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
