<!--
	<script type="text/javascript" src="//use.typekit.net/dvc1zyy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	{{ if .Site.Params.contact.map }}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google-map.js"></script>
	{{ end }}

	<script src="js/main.js"></script>
